extends layout

block content
  canvas(width='1000' height='618')#canvas

  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading
          .panel-title.h5 Announcements
        #announcements.list-group
          a.list-group-item Welcome to <strong>#{name}</strong>.

    .col-sm-6
      .panel.panel-default
        .panel-heading
          .panel-title.h5 Players
        #players.list-group

      #sign-on.input-group
        input(type='text', placeholder='Name')#player.form-control
        .input-group-btn
          button(type='button')#join.btn.btn-default Join

      #sign-off.btn-group
        button(type='button')#leave.btn.btn-default Leave

  script(src='/javascripts/math.js')
  script(src='/javascripts/camera.js')
  script(src='/javascripts/control.js')
  script(src='/javascripts/game.js')
  script(src='/javascripts/mouse.js')
  script(src='/javascripts/keys.js')
