extends layout

block content

  #lead How to Play
  #headline Empire

  .section
    p Contents

    ol
      li
        a(href='#components') Components
      li
        a(href='#setup') Set-up
        ol
          li
            a(href='#commonwealth') The Commonwealth
          li
            a(href='#factions') Factions
          li
            a(href='#resourcebag') The Resource Bag
          li 
            a(href='#emperor') The Emperor
      li 
        a(href='#overview') Overview
        ol
          li 
            a(href='#support').support Support
          li 
            a(href='#resources') Resources
            ol
              li
                a(href='#colony').colony Colonies
              li
                a(href='#population').population Population
              li
                a(href='#good').good Goods
              li
                a(href='#loan').loan Loans
          li
            a(href='#credits').credit Credits
      li
        a(href='#rounds') Rounds
        ol
          li
            a(href='#develop') Develop
            ol
              li
                a(href='#industries') Industries
              li
                a(href='#luxuries') Luxuries
              li
                a(href='#revolts') Revolts
          li
            a(href='#unrest') Unrest
          li
            a(href='#consume') Consume
          li
            a(href='#produce') Produce
          li
            a(href='#sell') Sell
          li
            a(href='#income') Income
          li
            a(href='#debt') Debt
          li
            a(href='#buy') Buy
            ol
              li
                a(href='#drawing') Drawing
              li
                a(href='#bidding') Bidding
              li
                a(href='#resolving') Resolving
      li 
        a(href='#exchange') Exchange
      li
        a(href='#end') Ending the Game

  .section#components
    p #[a(href='#components') Components]

    .subsection
      p One #[a(href='#resourcebag') Resource Bag]

      .figure 
        table.bag
          tr
            td
              img(src='/images/bag.svg')

    .subsection
      p Seven Boards

      .figure
        table
          tr
            td
              img(src='/images/board/commonwealth.svg').board
            td
              img(src='/images/board/faction.svg').board
          tr
            td One #[a(href='#commonwealth') Commonwealth]

            td Six #[a(href='#faction') Factions]

    .subsection
      p One Hundred #[a(href='#support').support Support]

      .figure
        table
          tr
            td
              img(src='/images/support/positive/1.svg').card
            td
              img(src='/images/support/negative/1.svg').card
          tr
            td Seventy Positive #[a(href='#support').support Support] 
            td Thirty Negative #[a(href='#support').support Support] 

    .subsection
      p One Hundred #[a(href='#resources') Resources]

      .figure
        table
          tr
            td
              img(src='/images/resource/colony/1.svg').resource
            td
              img(src='/images/resource/population/1.svg').resource
            td
              img(src='/images/resource/good/1.svg').resource
            td
              img(src='/images/resource/loan/1.svg').resource
          tr
            td Twenty #[a(href='#colony').colony Colonies]
            td Thirty #[a(href='#population').population Populations]
            td Thirty #[a(href='#good').good Goods]
            td Twenty #[a(href='#loan').loan Loans]

    .subsection
      p One Hundred #[a(href='#credit').credit Credit] Cards

      .figure
        table
          tr
            td
              img(src='/images/credit/1.svg').card
            td
              img(src='/images/credit/5.svg').card
            td
              img(src='/images/credit/10.svg').card
          tr
            td Seventy 1 #[a(href='#credit').credit Credit] Cards
            td Twenty 5 #[a(href='#credit').credit Credit] Cards
            td Ten 10 #[a(href='#credit').credit Credit] Cards

  .section#setup
    p #[a(href='#setup') Set-up]

    .part
      p Give each player one #[a(href='#faction') Faction].

      .figure
        table
          tr
            td
              img(src='/images/board/faction.svg').board
      
    .part
      p Place one #[a(href='#colony').colony Colony], two #[a(href='#population').population Populations], one #[a(href='#good').good Good], one #[a(href='#loan').loan Loan], twenty #[a(href='#credit').credit Credits], one positive #[a(href='#support').support Support], and one negative #[a(href='#support').support Support] on each player's Faction.

      .figure
        table
          tr
            td
              img(src='/images/resource/colony/1.svg').resource
            td
              img(src='/images/resource/population/2.svg').resource2
            td
              img(src='/images/resource/good/1.svg').resource
            td
              img(src='/images/resource/loan/1.svg').resource
          tr
            td One #[a(href='#colony').colony Colony]
            td Two #[a(href='#population').population Populations]
            td One #[a(href='#good').good Good]
            td One #[a(href='#loan').loan Loan]
        table
          tr
            td
              img(src='/images/credit/20.svg').card5
            td
              img(src='/images/support/positive/1.svg').card
            td
              img(src='/images/support/negative/1.svg').card
          tr
            td Twenty #[a(href='#credit').credit Credits]
            td One Positive #[a(href='#support').support Support]
            td One Negative #[a(href='#support').support Support]
    .part
      p Put eight #[a(href='#colony').colony Colonies], nine #[a(href='#population').population Populations], eight #[a(href='#good').good Goods], and eight #[a(href='#loan').loan Loans] in the #[a(href='#resourcebag') Resource Bag].

     .figure
        table
          tr
            td
              img(src='/images/resource/colony/8.svg').resource4
            td
              img(src='/images/resource/population/9.svg').resource5
          tr
            td Eight #[a(href='#colony').colony Colonies]
            td Nine #[a(href='#population').population Population]
          tr
            td
              img(src='/images/resource/good/8.svg').resource4
            td
              img(src='/images/resource/loan/8.svg').resource4
          tr
            td Eight #[a(href='#good').good Goods]
            td Eight #[a(href='#loan').loan Loans]
 
    .part
      p Shuffle the #[a(href='#resources') Resources] in the the #[a(href='#resourcebag') Resource Bag].

      .tip
        p Group Tip: Even when the #[a(href='#resourcebag') Resource Bag] is shuffled, it can seem like it is not when #[a(href='#resources') Resources] are drawn out.
        p You may want to have each player shuffle the #[a(href='#resourcebag') Resource Bag] so everyone is comfortable.

    .part
      p Place the #[a(href='#commonwealth') Commonwealth] in the center of the players.

      .figure
        table
          tr
            td
              img(src='/images/board/commonwealth.svg').board

    .part
      p Place ten #[a(href='#good').good Goods], all remaining #[a(href='#support').support Support), and all #[a(href='#credit').credit Credit] Cards in the marked spaces on the #[a(href='#commonwealth') Commonwealth].

      .tip
        p Play Tip: Depending on how many players there are, some #[a(href='#resources') Resources] in the game box may not be used.
        p Extra #[a(href='#resources') Resources] should not be used and should remain in the game box.

    .part
      p Give the #[a(href='#resourcebag') Resource Bag] to the most experienced player, who will be the #[a(href='#emperor') Emperor] for the first round.
      p If all players are equally experienced, give the #[a(href='#resourcebag') Resource Bag] to a random player.

  .section#overview
    p #[a(href='#overview') Overview]

    .part
      p.theme Empire is a game of strategy, commerce, and power where two to six players compete as #[a(href='#faction') factions] of a crumbling far-future empire.
      p.theme #[a(href='#faction') Factions] compete to inspire the #[a(href='#support').support support] of its #[a(href='#population').population populations] by providing them with #[a(href='#good').good goods].
      p.theme #[a(href='#faction') Faction]'s create #[a(href='#good').good goods] by working #[a(href='#population').population populations] on #[a(href='#colony').colony colonies].
      p.theme #[a(href='#good').good Goods] are also sold for #[a(href='#credits').credit credits], which can be used to buy #[a(href='#resources') resources] in a competitive auction.

      .tip 
        p Strategy Tip: In Empire, you want to do what other players are not doing.
        p Try to observe and exploit options other players are undervaluing.

    .subsection#support
      p #[a(href='#support').support Support] (Goal of the Game)

      .part 
        p The goal of Empire is to have the highest net #[a(href='#support').support Support].

      .part
        p There are two types of #[a(href='#support').support Support]: positive and negative.

        .figure
          table
            tr
              td
                img(src='/images/support/positive/1.svg').card
              td
                img(src='/images/support/negative/1.svg').card
            tr
              td Positive #[a(href='#support').support Support]
              td Negative #[a(href='#support').support Support]

        p.theme #[a(href='#support').support Support] represents how much a #[a(href='#faction') Faction]'s people approve of their leaders.

      .subsubsection#netsupport
        p Net #[span.support Support]

        .part
          p Net #[a(href='#support').support Support] is equal to a player's positive #[a(href='#support').support Support] minus their negative #[a(href='#support').support Support].

        .example
          p Example: Calculating net #[a(href='#support').support Support]

          p Martin has five positive #[a(href='#support').support Support] and two negative #[a(href='#support').support Support].

          .figure
            table
              tr
                td
                  img(src='/images/support/positive/5.svg').card5
                td
                  img(src='/images/support/negative/2.svg').card2
              tr
                td Five positive #[a(href='#support').support Support]
                td Two negative #[a(href='#support').support Support]

          p Martin's net #[a(href='#support').support Support] is five minus two, which is three.

          .figure
            table
              tr
                td
                  img(src='/images/support/positive/5.svg').card5
                td
                  img(src='/images/sign/minus.svg').minus
                td
                  img(src='/images/support/negative/2.svg').card2
                td
                  img(src='/images/sign/equals.svg').sign
                td.number 3
              tr
                td Five positive #[a(href='#support').support Support]
                td minus
                td Two negative #[a(href='#support').support Support]
                td equals
                td Three net #[a(href='#support').support Support]

    .part
      p In addition to #[a(href='#support').support Support], players can also acquire #[a(href='#resources') Resources] and #[a(href='#credits').credit Credits].
      p #[a(href='#support').support Support], #[a(href='#resources') Resources], and #[a(href='#credits').credit Credits] are the only things players can own.

    .subsection#resources
      p #[a(href='#resources') Resources]

      .part 
        p #[a(href='#resources') Resources] are purchased during the #[a(href='#buy') Buy phase].
        p There are four types of #[a(href='#resources') Resources]: #[a(href='#colony').colony Colonies], #[a(href='#population').population Populations], #[a(href='#good').good Goods], and #[a(href='#loan').loan Loans].

        .figure
          table
            tr
              td
                img(src='/images/resource/colony/1.svg').resource
              td
                img(src='/images/resource/population/1.svg').resource
              td
                img(src='/images/resource/good/1.svg').resource
              td
                img(src='/images/resource/loan/1.svg').resource
            tr
              td.colony #[a(href='#colony') Colonies]
              td.population #[a(href='#population') Populations]
              td.good #[a(href='#good') Goods]
              td.loan #[a(href='#loan') Loans]
        
      .subsubsection#colony
        p.colony #[a(href='#colony') Colonies]

        .part
          p #[a(href='#colony').colony Colonies] can be used to earn #[a(href='#good').good Goods] during the #[a(href='#produce') Produce phase].
          p.theme #[a(href='#colony').colony Colonies] represent planets, natural resources, and infrastructure.
      
      .subsubsection#population
        p.population #[a(href='#population') Populations]

        .part
          p #[a(href='#population').population Populations] can be used to earn #[a(href='#good').good Goods] during the #[a(href='#produce') Produce phase] or to earn #[a(href='#support').support Support] during the #[a(href='#consume') Consume phase].
          p.theme #[a(href='#population').population Populations] represent workers, aristocrats, and other citizens.

      .subsubsection#good
        p.good #[a(href='#population') Goods]

        .part
          p
          p #[a(href='#good').good Goods] can be consumed to earn #[a(href='#support').support Support] during the #[a(href='#consume') Consume phase] or to earn #[a(href='#credits').credit Credits] during the #[a(href='#income') Income phase].
          p.theme #[a(href='#good').good Goods] represent valuable commodities and products.

      .subsubsection#loan
        p.loan #[a(href-'#loan') Loans]

        .part
          p #[a(href='#loan').loan Loans] can be used to earn #[a(href='#credits').credit Credits] when they are purchased during the #[a(href='#buy') Buy phase].
          p.theme #[a(href='#loan').loan Loans] represent public debt and other financial obligations.

    .subsection#credits
      p.credit #[a(href='#credit') Credits]

      .part
        p #[a(href='#credits').credit Credits] come in three denominations: one, five, and ten.
        .figure
          table
            tr
              td
                img(src='/images/credit/1.svg').card
              td
                img(src='/images/credit/5.svg').card
              td
                img(src='/images/credit/10.svg').card
            tr
              td One
              td Five
              td Ten

      .part
        p #[a(href='#credit') Credits] are used to bid for new #[a(href='#resources') Resources] during the #[a(href='#buy') Buy phase].
        p.theme #[a(href='#credit') Credits] represent a #[a(href='#faction') Faction]'s currency and monetary reserves.

    .subsection#faction
      p #[a(href='#faction') Factions]
    
      .part
        p Each player gets their own board called a #[a(href='#faction') Faction].

      .figure
        table
          tr
            td
              img(src='/images/board/faction.svg').board
          tr
            td Each player has their own #[a(href='#faction') Faction].
      
      p.theme #[a(href='#faction') Factions] represent the parts of the Empire that a player controls.

      .tip
        p Play Tip: The right side of each #[a(href='#faction') Faction] is a player aid that describes what happens in each round.

      .part
        p Players store their #[a(href='#resources') Resources], #[a(href='#credits').credit Credits], and #[a(href='#support').support Support] in the labeled locations on their #[a(href='#faction') Faction].
        p #[a(href='#colony').colony Colonies] should be stacked in the location labeled 'Colonies', #[a(href='#support').support Support] in the location labeled 'Support,' and so on.
        
      .part
        p Players cannot obscure the items on their #[a(href='#faction') Faction].
        p Players must reveal how many of each item they have to the other players.

      .part
        p Players may keep their #[a(href='#support').support Support] face down, and do not need to tell other players how many are positive and how many are negative.
        p Players do not have to reveal how much of their #[a(href='#support').support Support] is positive or negative, though they do have to tell other players how many total #[a(href='#support').support Support] they have.

    .subsection#commonwealth
      p The Commonwealth

      .part
        p In the center of the players, there is a board called the #[a(href='#commonwealth') Commonwealth].
        p The #[a(href='#commonwealth') Commonwealth] holds all the #[a(href='#good').good Goods], #[a(href='#credits').credit Credits], and #[a(href='#support').support Support] that no player owns.

      .figure
        table
          tr
            td
              img(src='/images/board/commonwealth.svg').board
          tr
            td The #[a(href='#commonwealth') Commonwealth] sits in the center of the players.

      p.theme The #[a(href='#commonwealth') Commonwealth] represents the parts of the Empire that no #[a(href='#faction') Faction] has gained control of.
      p Players can make change between #[a(href='#credits').credit Credit] denominations with the #[a(href='#commonwealth') Commonwealth] whenever they want.

    .subsection#resourcebag
      p The #[a(href='#resourcebag') Resource Bag]

      .figure
        table
          tr
            td
              img(src='/images/bag.svg').bag
          tr
            td Your #[a(href='#resourcebag') Resource Bag] may be a different color.

      .part#resourcebag
        p The #[a(href='#resourcebag') Resource Bag] holds the #[a(href='#resources') Resources] that players will compete for.
        p.theme The #[a(href='#resourcebag') Resource Bag] represents worlds, populaces, commodities, and financial opportunities that have not been created or discovered yet.
        
    .subsection#emperor
      p The #[a(href='#emperor') Emperor]

      .part
        p During each round, one of the players servers as the #[a(href='#emperor') Emperor].
        p The #[a(href="#emperor") Emperor’s] duties are largely ceremonial.

      .part
        p The #[a(href="#emperor") Emperor’s] main job is to make sure that players move through the game's rounds and phases together and at a reasonable pace.
        p The #[a(href='#emperor') Emperor] also holds and draws from the #[a(href='#resourcebag') Resource Bag].
    
  .section#rounds
    p Rounds

    .part
      p Empire is played over 6 rounds, each with 8 phases.

      p Each round consists of 8 phases: #[a(href='#develop') Develop], #[a(href='#unrest') Unrest], #[a(href='#consume') Consume], #[a(href='#produce') Produce], #[a(href='#sell') Sell], #[a(href='#income') Income], #[a(href='#debt') Debt], and #[a(href='#buy') Buy].

      .figure
        table
          tr
            td
              img(src='/images/board/cycle.svg').board
          tr
            td Each round has 8 phases.

        p In the #[a(href='#develop') Develop phase], players use their #[a(href='#colony').colony Colonies], #[a(href='#population').population Populations], and #[a(href='#good').good Goods] to create #[a(href='#industries') Industries], #[a(href='#luxuries') Luxuries] and #[a(href='#revolts') Revolts].
        p In the #[a(href='#unrest') Unrest phase], players take negative #[a(href='#support').support Support] for their #[a(href='#revolts') Revolts].
        p In the #[a(href='#consume') Consume phase], players earn positive #[a(href='#support').support Support] for their #[a(href='#luxuries') Luxuries].
        p In the #[a(href='#produce') Produce phase], players earn #[a(href='#good').good Goods] for their #[a(href='#industries') Industries].
        p In the #[a(href='#sell') Sell phase], players select #[a(href='#good').good Goods] to sell for #[a(href='#credits').credit Credits].
        p In the #[a(href='#income') Income phase], players earn #[a(href='#credits').credit Credits] for the #[a(href='#good').good Goods] they sold.
        p In the #[a(href='#debt') Debt phase], players pay #[a(href='#credits').credit Credits] for their #[a(href='#loan').loan Loans].
        p In the #[a(href='#buy') Buy phase], players bid #[a(href='#credits').credit Credits] in an auction to gain more #[a(href='#resources') Resources].

        .part
          p During each phase, players perform actions together.
          p Players do not need to wait for other players to perform actions during a phase.
          p No player should begin the next phase before all players complete the current phase.

        .tip
          p Group Tip: When learning the game, If players struggle to perform an action simultaneously, try doing it in clockwise order starting with the #[a(href='#emperor') Emperor].
          p Empire allows players to perform actions at the same time.
          p This allows for faster gameplay with less waiting.
          p Going in order will work fine if needed, and players will quickly get comfortable doing things together.

    .subsection#develop
      p 1. #[a(href='#develop') Develop]
      
      .part
        p Each round begins with the #[a(href='#develop') Develop] phase, where players use their #[a(href='#colony').colony Colonies], #[a(href='#population').population Populations], and #[a(href='#good').good Goods] to create Systems.
        p Systems are stacks of #[a(href='#resources') Resources] that will give players items from the #[a(href='#commonwealth') Commonwealth].

        .part
          p Players create Systems simultaneously.
          p Players do not need to wait for other players while creating their Systems.
          p Each #[a(href='#resources') Resource] can only be used in one System.

        .part
          p Players create Systems in the marked locations inside the Systems section on the left side of their #[a(href='#faction') Faction].

          .figure
            table
              tr
                td
                  img(src='/images/board/systems.svg').board
              tr
                td The Systems section is arranged as a diagram that shows how #[a(href='#resources') Resources] are used to create Systems.

        .part
          p There are three types of Systems: #[a(href='#industries') Industries], #[a(href='#luxuries') Luxuries], and #[a(href='#revolts') Revolts].

          .subsubsection#industries
            p Industries

            .part
              p Players create #[a(href='#industries') Industries] by stacking a #[a(href='#population').population Population] on top of a #[a(href='#colony').colony Colony]. 

              .figure
                table
                  tr
                    td
                      img(src='/images/resource/colony/1.svg').resource
                    td
                      img(src='/images/sign/plus.svg').sign
                    td
                      img(src='/images/resource/population/1.svg').resource
                    td
                      img(src='/images/sign/equals.svg').sign
                    td
                      img(src='/images/system/industry/1.svg').resource
                  tr
                    td.colony #[a(href='#colony').colony Colony]
                    td plus
                    td.population #[a(href='#population').population Population]
                    td equals
                    td #[a(href='#industries') Industry]

            p.theme #[a(href='#industries') Industries] represent the working forces who power a #[a(href='#faction') Faction]'s economic engine. 

            .part
              p During the #[a(href='#produce') Produce phase], players will gain a #[a(href='#good').good Good] for each #[a(href='#industries') Industry] they created. 

              .figure
                table
                  tr
                    td
                      img(src='/images/system/industry/1.svg').resource
                    td
                      img(src='/images/sign/give.svg').sign
                    td
                      img(src='/images/resource/good/1.svg').resource
                  tr
                    td #[a(href='#industries') Industry]
                    td gives
                    td.good #[a(href='#good').good Good]

          .subsubsection#luxuries
            p Luxuries

            .part
              p Players create #[a(href='#luxuries') Luxuries] by stacking a #[a(href='#good').good Good] on top of a #[a(href='#population').population Population]. 

              .figure
                table
                  tr
                    td
                      img(src='/images/resource/population/1.svg').resource
                    td
                      img(src='/images/sign/plus.svg').sign
                    td
                      img(src='/images/resource/good/1.svg').resource
                    td
                      img(src='/images/sign/equals.svg').sign
                    td
                      img(src='/images/system/luxury/1.svg').resource
                  tr
                    td.population Population
                    td plus
                    td #[a(href='#good').good Good]
                    td equals
                    td #[a(href='#luxuries') Luxury]

            p.theme #[a(href='#luxuries') Luxuries] represent the elite who strengthen a #[a(href='#faction') Faction]'s leadership. 

            .part
              p During the #[a(href='#consume') Consume phase], players will gain a positive #[a(href='#support').support Support] for each #[a(href='#luxuries') Luxury] they created. 

              .figure
                table
                  tr
                    td
                      img(src='/images/system/luxury/1.svg').resource
                    td
                      img(src='/images/sign/give.svg').sign
                    td
                      img(src='/images/support/positive/1.svg').card
                  tr
                    td #[a(href='#luxuries') Luxury]
                    td gives
                    td Positive #[a(href='#support').support Support]

            .part
              p #[a(href='#luxuries') Luxuries] will consume the #[a(href='#good').good Good] they contain.

              .figure
                table
                  tr
                    td
                      img(src='/images/system/luxury/1.svg').resource
                    td
                      img(src='/images/sign/consume.svg').sign
                    td
                      img(src='/images/resource/good/1.svg').resource
                  tr
                    td #[a(href='#luxuries') Luxury]
                    td consumes
                    td #[a(href='#good').good Good]
           
              .tip
                p Strategy Tip: You may not want to use all of your #[a(href='#good').good Goods] in #[a(href='#luxuries') Luxuries].
                p You will lose the #[a(href='#good').good Goods] you use in #[a(href='#luxuries') Luxuries] later in the round.
         
          .subsubsection#revolts
            p Revolts

            .part
              p #[a(href='#revolts') Revolts] are #[a(href='#population').population Populations] not used in an #[a(href='#industries') Industry] or #[a(href='#luxuries') Luxury]. 
              p.theme #[a(href='#revolts') Revolts] represent the unemployed and disenfranchised who are not working or wealthy enough to support themselves.

            .part
              p During the #[a(href='#unrest') Unrest phase], players will gain a negative #[a(href='#support').support Support] for each #[a(href='#revolts') Revolt] they were left with.

              .figure
                table
                  tr
                    td
                      img(src='/images/resource/population/1.svg').resource
                    td
                      img(src='/images/sign/give.svg').sign
                    td
                      img(src='/images/support/negative/1.svg').card
                  tr
                    td #[a(href='#population').population Population] (Unused)
                    td gives
                    td Negative #[a(href='#support').support Support]

              .tip 
                p Strategy Tip: Be careful about taking too many #[a(href='#population').population Populations].
                p Excess #[a(href='#population').population Populations] will earn you negative #[a(href='#support').support Support].
                p At the same time, #[a(href='#population').population Populations] become much more valuable towards the end of the game, as players have more #[a(href='#colony').colony Colonies] and #[a(href='#good').good Goods] to use it with.

        .example
          p Example: Creating Systems
          
          p Ahmed has two #[a(href='#colony').colony Colonies], four #[a(href='#population').population Populations], and one #[a(href='#good').good Good].

          .figure
            table
              tr
                td
                  img(src='/images/resource/colony/2.svg').resource2
                td
                  img(src='/images/resource/population/4.svg').resource4
                td
                  img(src='/images/resource/good/1.svg').resource
              tr
                td Two #[a(href='#colony').colony Colonies]
                td Four #[a(href='#population').population Populations]
                td One #[a(href='#good').good Good]

          p Ahmed creates two #[a(href='#industries') Industries] by stacking a #[a(href='#population').population Population] on top of both of his #[a(href='#colony').colony Colonies].

          .figure
            table
              tr
                td
                  img(src='/images/resource/colony/1.svg').resource
                td
                  img(src='/images/sign/plus.svg').sign
                td
                  img(src='/images/resource/population/1.svg').resource
                td
                  img(src='/images/sign/equals.svg').sign
                td
                  img(src='/images/system/industry/1.svg').resource
              tr
                td
                  img(src='/images/resource/colony/1.svg').resource
                td
                  img(src='/images/sign/plus.svg').sign
                td
                  img(src='/images/resource/population/1.svg').resource
                td
                  img(src='/images/sign/equals.svg').sign
                td
                  img(src='/images/system/industry/1.svg').resource
              tr
                td #[a(href='#colony').colony Colony]
                td plus
                td #[a(href='#population').population Population]
                td equals
                td #[a(href='#industries') Industry]

          p Ahmed also creates one #[a(href='#luxuries') Luxury] by stacking a #[a(href='#good').good Good] on top of a #[a(href='#population').population Population].

          .figure
            table
              tr
                td
                  img(src='/images/resource/population/1.svg').resource
                td
                  img(src='/images/sign/plus.svg').sign
                td
                  img(src='/images/resource/good/1.svg').resource
                td
                  img(src='/images/sign/equals.svg').sign
                td
                  img(src='/images/system/luxury/1.svg').resource
              tr
                td #[a(href='#population').population Population]
                td plus
                td #[a(href='#good').good Good]
                td equals
                td #[a(href='#luxuries') Luxury]

          p Ahmed is left with one #[a(href='#revolts') Revolt] because he has one unused #[a(href='#population').population Population].

      .part
        p When all players have finished creating their systems, the #[a(href='#develop') Develop] phase ends and the #[a(href='#unrest') Unrest] phase begins.

    .subsection#unrest
      p 2. #[a(href='#unrest') Unrest]

      .part
        p During the #[a(href='#unrest') Unrest] phase, players earn negative #[a(href='#support').support Support] for their #[a(href='#revolts') Revolts].
        p Each player takes one negative #[a(href='#support').support Support] from the #[a(href='#commonwealth') Commonwealth] for each #[a(href='#revolts') Revolt] in their #[a(href='#faction') Faction].

      .tip 
        p Strategy Tip: Sometimes, taking a negative #[a(href='#support').support Support] is worth it.
        p Negative #[a(href='#support').support Support] is usually something you want avoid, but sometimes getting an extra #[a(href='#population').population Population] or saving a #[a(href='#good').good Good] is worth the cost.

      .part
        p When all players have taken their negative #[a(href='#support').support Support], the #[a(href='#unrest') Unrest] phase ends and the #[a(href='#consume') Consume] phase begins.

    .subsection#consume
      p 3. #[a(href='#consume') Consume]

      .part
        p During the #[a(href='#consume') Consume] phase, players earn positive #[a(href='#support').support Support] for their #[a(href='#luxuries') Luxuries].
        p First, each player takes one positive #[a(href='#support').support Support] from the #[a(href='#commonwealth') Commonwealth] for each #[a(href='#luxuries') Luxury] in their #[a(href='#faction') Faction].
        p Then, each player turns in the #[a(href='#good').good Goods] used in their #[a(href='#luxuries') Luxuries] to the #[a(href='#commonwealth') Commonwealth].

      .tip
        p Play Tip: Don't forget to turn in the Goods from your #[a(href='#luxuries') Luxuries] to the #[a(href='#commonwealth') Commonwealth]. 
        p You do not get to keep the Goods you use in #[a(href='#luxuries') Luxuries].

      .part
        p When all players have taken their positive #[a(href='#support').support Support] and turned in their #[a(href='#good').good Goods], the #[a(href='#consume') Consume phase] ends and the #[a(href='#produce') Produce phase] begins.

    .subsection#produce
      p 4. #[a(href='#produce') Produce]

      .part
        p During the #[a(href='#produce') Produce] phase, players earn #[a(href='#good').good Goods] for their #[a(href='#industries') Industries].
        p Each player takes one #[a(href='#good').good Good] from the #[a(href='#commonwealth') Commonwealth] for each #[a(href='#industries') Industry] in their #[a(href='#faction') Faction].

      .part
        p When all players have taken their #[a(href='#good').good Goods], the #[a(href='#produce') Produce] phase ends and the #[a(href='#sell') Sell] phase begins.

      .tip
        p Play Tip: Clean up your #[a(href='#faction') Faction] after the #[a(href='#produce') Produce] phase.
        p After you have processed your #[a(href='#revolts') Revolts], #[a(href='#luxuries') Luxuries], and #[a(href='#industries') Industries], stack all of your #[a(href='#colony').colony Colonies], #[a(href='#population').population Populations], and #[a(href='#good').good Goods] in the labeled locations on your #[a(href='#faction') Faction].

    .subsection#sell 
      p 5. #[a(href='#sell') Sell]

      .part
        p During the #[a(href='#sell') Sell] phase, players select #[a(href='#good').good Goods] to sell for #[a(href='#credits').credit Credits].
        p First, players take all of their #[a(href='#good').good Goods] into their hands, concealing them from the other players.
        p Then, each player secretly moves the #[a(href='#good').good Goods] they wish to sell into their right hand, and then places their closed right fist, containing the Goods they wish to sell, on the table.
        p The #[a(href='#good').good Goods] they do not wish to sell remain in their left hand, obscured from the other players.

      .tip
        p Group Tip: Even after you take your #[a(href='#good').good Goods] into your hands, if other players ask you how many total #[a(href='#good').good Goods] you have, you have to tell them.
        p You do not have to reveal how many #[a(href='#good').good Goods] are in your right fist, which you will sell for #[a(href='#credits').credit Credits].

      .part
        p When all players have placed their right fist, containing the Goods they wish to sell, on the table, the #[a(href='#sell') Sell] phase ends and the #[a(href='#income') Income] phase begins.

    .subsection#income
      p 6. #[a(href='#income') Income]

      .part
        p During the #[a(href='#income') Income] phase, players gain #[a(href='#credits').credit Credits] for the #[a(href='#good').good Goods] they selected to sell.
        p First, all players open their right fist, revealing the #[a(href='#good').good Goods] they selected to sell.
        p Then, each player takes #[a(href='#credits').credit Credits] from the #[a(href='#commonwealth') Commonwealth] for each #[a(href='#good').good Good] they are selling.

      .part 
        p The price of #[a(href='#good').good Goods] is ten minus the total number of #[a(href='#good').good Goods] being sold by all players.
        p The minimum price of #[a(href='#good').good Goods] is zero.

        .tip
          p Play Tip: Selling more #[a(href='#good').good Goods] can earn you fewer total #[a(href='#credit').credit Credits].
          p Depending on how many #[a(href='#good').good Goods] other players decided to sell, selling another #[a(href='#good').good Goods] can mean you earn fewer total #[a(href='#credit').credit Credits].

      .example
        p Example: Earning #[a(href='#credits').credit Credits] for Sold #[a(href='#good').good Goods]
        p Soe, Artour, and Bruno and selling Goods.
        p At the beginning of the #[a(href='#income') Income phase], when all players open their right fist, Soe reveals she is selling two #[a(href='#good').good Goods], Artour one #[a(href='#good').good Good], and Bruno three #[a(href='#good').good Goods].
        p Two plus one plus three equals six, so there are a total of six #[a(href='#good').good Goods] being sold.

        .figure
          table
            tr
              td 
                img(src='/images/resource/good/2.svg').resource2
              td
                img(src='/images/sign/plus.svg').sign
              td
                img(src='/images/resource/good/1.svg').resource
              td
                img(src='/images/sign/plus.svg').sign
              td
                img(src='/images/resource/good/3.svg').resource3
              td
                img(src='/images/sign/equals.svg').sign
              td.number 6
            tr
              td Two #[a(href='#good').good Goods] (Soe)
              td plus
              td One #[a(href='#good').good Good] (Artour)
              td plus
              td Three #[a(href='#good').good Goods] (Bruno)
              td equals
              td Six #[a(href='#good').good Goods] being sold

        p 10 minus six is four, so the price of #[a(href='#good').good Goods] is four. 

        .figure
          table
            tr
              td.number 10
              td
                img(src='/images/sign/minus.svg').minus
              td.number 6
              td
                img(src='/images/sign/equals.svg').sign
              td.number 4
            tr
              td 10
              td minus
              td Six #[a(href='#good').good Goods] being sold
              td equals
              td Four (Price of #[a(href='#good').good Goods])

        p Two times four is eight, so Soe takes eight #[a(href='#credits').credit Credits] from the #[a(href='#commonwealth') Commonwealth].

        .figure
          table
            tr
              td
                img(src='/images/resource/good/2.svg').resource2
              td
                img(src='/images/sign/times.svg').times
              td.number 4
              td
                img(src='/images/sign/equals.svg').sign
              td
                img(src='/images/credit/8.svg').card3
            tr
              td Two #[a(href='#good').good Goods] (Soe)
              td times
              td Four (Price of #[a(href='#good').good Goods])
              td equals
              td Eight #[a(href='#credits').credit Credits]

        p One times four is four, so Artour takes four #[a(href='#credits').credit Credits] from the #[a(href='#commonwealth') Commonwealth].

        .figure
          table
            tr
              td
                img(src='/images/resource/good/1.svg').resource
              td
                img(src='/images/sign/times.svg').times
              td.number 4
              td
                img(src='/images/sign/equals.svg').sign
              td
                img(src='/images/credit/4.svg').card4
            tr
              td One #[a(href='#good').good Good] (Artour)
              td times
              td Four (Price of #[a(href='#good').good Goods])
              td equals
              td Four #[a(href='#credits').credit Credits]

        p Three times four is four, so Bruno takes 12 #[a(href='#credits').credit Credits] from the #[a(href='#commonwealth') Commonwealth].

        .figure
          table
            tr
              td
                img(src='/images/resource/good/3.svg').resource3
              td
                img(src='/images/sign/times.svg').times
              td.number 4
              td
                img(src='/images/sign/equals.svg').sign
              td
                img(src='/images/credit/12.svg').card2
            tr.captaions
              td Three #[a(href='#good').good Goods] (Bruno)
              td times
              td Four (Price of #[a(href='#good').good Goods])
              td equals
              td 12 #[a(href='#credits').credit Credits]

      .part 
        p After taking their #[a(href='#credits').credit Credits], players turn in all of their sold #[a(href='#good').good Goods] to the #[a(href='#commonwealth') Commonwealth].

        .tip
          p Play Tip: Don't forget to turn in the #[a(href='#good').good Goods] you sold to the #[a(href='#commonwealth') Commonwealth].
          p You do not get to keep the #[a(href='#good').good Goods] you sell.

      .part
        p When all players have taken their #[a(href='#credits').credit Credits] and turned in their sold #[a(href='#good').good Goods] to the #[a(href='#commonwealth') Commonwealth], the #[a(href='#income') Income phase] ends and the #[a(href='#debt') Debt phase] begins.

    .subsection#debt
      p 7. #[a(href='#debt') Debt]

      .part
        p During the #[a(href='#debt') Debt], players pay #[a(href='#credits').credit Credits] for their #[a(href='#loan').loan Loans].
        p Each player turns in one #[a(href='#credits').credit Credit] to the #[a(href='#commonwealth') Commonwealth] for each of their #[a(href='#loan').loan Loans].

        .figure
          table
            tr
              td
                img(src='/images/resource/loan/1.svg').resource
              td
                img(src='/images/sign/consume.svg').sign
              td
                img(src='/images/credit/1.svg').resource
            tr
              td.loan Loan
              td consumes
              td.credit Credit

      .part
        p If a player does not have enough #[a(href='#credits').credit Credits] to pay for all of their #[a(href='#loan').loan Loans], they take a negative #[a(href='#support').support Support] from the #[a(href='#commonwealth') Commonwealth] for each #[a(href='#loan').loan Loan] they do not pay for.

        .figure
          table
            tr
              td
                img(src='/images/resource/loan/1.svg').resource
              td
                img(src='/images/sign/give.svg').sign
              td
                img(src='/images/support/negative/1.svg').card
            tr
              td #[a(href='#loan').loan Loan] (Unpaid)
              td gives
              td Negative #[a(href='#support').support Support]

        p.theme This negative #[a(href='#support').support Support] represents turmoil and reputational damage from defaulting on your financial obligations.

        p Players must play for all Loans they Credits to play for.

      .tip 
        p Strategy Tip: Be careful about taking too many #[a(href='#loan').loan Loans].
        p You will have to pay for your #[a(href='#loan').loan Loans] each round.
        p #[a(href='#loan').loan Loans] can never be paid off.
        p The only way to get rid of a #[a(href='#loan').loan Loan] is to trade it to another player.
        p If you cannot pay for your #[a(href='#loan').loan Loans], you have to take negative #[a(href='#support').support Support].
        p Fortunately, you pay for #[a(href='#loan').loan Loans] right after selling #[a(href='#good').good Goods] for #[a(href='#credits').credit Credits], when you tend to have the highest amount of #[a(href='#credits').credit Credits].
        p Just like #[a(href='#revolts') Revolts], sometimes getting a #[a(href='#loan').loan Loan] you might not be able to pay for can be worth the negative #[a(href='#support').support Support].

      .example
        p Example: Paying for #[a(href='#loan').loan Loans]

        p Samantha has five #[a(href='#loan').loan Loans] and three #[a(href='#credits').credit Credits].

        .figure
          table
            tr
              td
                img(src='/images/resource/loan/5.svg').resource5
              td
                img(src='/images/credit/3.svg').card3
            tr
              td Five #[a(href='#loan').loan Loans]
              td Three #[a(href='#credits').credit Credits]
        
        p Samantha uses her three #[a(href='#credits').credit Credits] to play for three of her #[a(href='#loan').loan Loans].

        .figure
          table
            tr
              td
                img(src='/images/resource/loan/1.svg').resource
              td
                img(src='/images/sign/consume.svg').sign
              td
                img(src='/images/credit/1.svg').resource
            tr
              td
                img(src='/images/resource/loan/1.svg').resource
              td
                img(src='/images/sign/consume.svg').sign
              td
                img(src='/images/credit/1.svg').resource
            tr
              td
                img(src='/images/resource/loan/1.svg').resource
              td
                img(src='/images/sign/consume.svg').sign
              td
                img(src='/images/credit/1.svg').resource
            tr
              td.loan Loan
              td consumes
              td.credit Credit

        p Samantha does not have enough #[a(href='#credits').credit Credits] to pay for her remaining two #[a(href='#loan').loan Loans], so she takes two negative #[a(href='#support').support Support] from the #[a(href='#commonwealth') Commonwealth].

        .figure
          table
            tr
              td
                img(src='/images/resource/loan/1.svg').resource
              td
                img(src='/images/sign/give.svg').sign
              td
                img(src='/images/support/negative/1.svg').card
            tr
              td
                img(src='/images/resource/loan/1.svg').resource
              td
                img(src='/images/sign/give.svg').sign
              td
                img(src='/images/support/negative/1.svg').card
            tr
              td #[a(href='#loan').loan Loan] (Unpaid)
              td gives
              td Negative #[a(href='#support').support Support]

      .part
        p When all players have paid for their #[a(href='#loan').loan Loans], the #[a(href='#debt') Debt] phase ends and the #[a(href='#buy') Buy] phase begins.

    .subsection#buy
      p 8. #[a(href='#buy') Buy]

      .part
        p During the #[a(href='#buy') Buy] phase, players bid #[a(href='#credits').credit Credits] in an auction to gain more #[a(href='#colony').colony Colonies], #[a(href='#population').population Population], #[a(href='#good').good Goods], and #[a(href='#loan').loan Loans].
        p.theme The #[a(href='#buy') Buy] phase represents commercial, military, and cultural competition between #[a(href='#faction') Factions].

      .subsubsection#drawing
        p #[a(href='#drawing') Drawing]

        .part
          p First, the #[a(href='#emperor') Emperor] draws six #[a(href='#resources') Resources] from the #[a(href='#resourcebag') Resource Bag] and places them in numbered spots in the center of the #[a(href='#commonwealth') Commonwealth].
          p Each #[a(href='#resources') Resource] should be drawn one by one and placed on the #[a(href='#commonwealth') Commonwealth] in the order they were drawn, because they will be auctioned off in order.

        .figure
          table
            tr
              td
                img(src='/images/board/resources.svg')
            tr
              td The #[a(href='#emperor') Emperor] should make sure to draw each #[a(href='#resources') Resource] individually to make sure he does not influence the order.

        .part
          p When all six #[a(href='#resources') Resources] have been drawn, bidding begins on the first #[a(href='#resources') Resource].

      .subsubsection#bidding
        p #[a(href='#bidding') Bidding]

        .part
          p When bidding on a #[a(href='#resources') Resource] begins, any player may raise their bid by amount at any time.
          p Bids are made in #[a(href='#credits').credit Credits].
          p Players may not bid more #[a(href='#credits').credit Credits] than they have.

        .part
          p Players raise their bid by announcing how much they are bidding and moving the corresponding number of #[a(href='#credits').credit Credits] into the Bids section of their #[a(href='#faction') Faction].

          .figure
            table
              tr
                td
                  img(src='/images/board/bids.svg').board
              tr
                td The Bids section contains the #[a(href='#credits').credit Credits] a player is bidding.
        
        .tip 
          p Play Tip: Moving #[a(href='#credits').credit Credits] into the Bids section lets everyone see what everyone else's bid is.
          p It also helps make sure that players do not bid more #[a(href='#credits').credit Credits] than they have.

        .part
          p Players may bid more, less, or the same number of #[a(href='#credits').credit Credits] as other players.
          p Players can always raise their bid by any amount of #[a(href='#credits').credit Credits] they have.

        .part
          p Players do not need to wait for other players to raise their bid.
          p There is no bidding order or priority.

        .part
          p While a player's bid is tied by another player, they may retract their bid.
          p Players may only retract their bid while it is tied by another player.

        .part
          p Once a player has retracted their bid, they may not bid on that #[a(href='#resources') Resource] again.

        .example
          p Example: Retracting a Bid

          p Aiko and Erik both bid five on a #[a(href='#resources') Resource].

          .figure
            table
              tr
                td
                  img(src='/images/credit/5.svg').card
                td
                  img(src='/images/credit/5.svg').card
              tr
                td Five (Aiko)
                td Five (Erik)
          
          p Erik retracts his bid, which means he can no longer bid on this #[a(href='#resources') Resource].

          .figure
            table
              tr
                td
                  img(src='/images/credit/5.svg').card
                td
                  img(src='/images/credit/x/5.svg').card
              tr
                td Five (Aiko)
                td Retracted (Erik)

          p Aiko is no longer tied, so she cannot retract her bid.

        .tip 
          p Strategy Tip: You cannot undo raising or retracting your bid.
          p Once you raise your bid to a certain amount, you cannot bid less than that amount on that #[a(href='#resources') Resource].
          p Tying a player who wants to purchase a #[a(href='#resources') Resource] can force them to raise their bid to win it.
          p However, the player you are tying can retract their bid, leaving you stranded if you bid more than you want to pay.

        .part
          p When no player wishes to raise or retract their bid on a #[a(href='#resources') Resource], bidding on that #[a(href='#resources') Resource] ends.

      .subsubsection#resolving
        p #[a(href='#resolving') Resolving]
      
        .part 
          p When bidding on a #[a(href='#resources') Resource] ends, the player with the highest untied bid wins the #[a(href='#resources') Resource].
          p The player with the highest untied bid might not have one of the highest bids.
          p All bids might be tied when bidding ends.

        .part
          p If all bids are tied when bidding on a #[a(href='#resources') Resource] ends, the #[a(href='#resources') Resource] is removed from the game and put into the game box.
          p All players get to keep their bids, but no one gets the #[a(href='#resources') Resource].

        .tip
          p Play Tip: If no player wishes to raise their bid on a #[a(href='#resources') Resource] from the start of bidding, it is removed, because all bids are tied at zero.

        .part 
          p If there is an untied bid, the player with the highest untied bid pays their bid to the #[a(href='#commonwealth') Commonwealth] and takes the #[a(href='#resources') Resource] into their #[a(href='#faction') Faction].
          p All other players return their bids to their Commerce section.
          p.theme Tied bids represent #[a(href='#faction') Factions] locked in stalemates, creating opportunities for other #[a(href='#faction') Factions].

        .example
          p Example: Determining the Winner
          p Greg, Kathleen, Toby, Libby, Dave, and Steve are bidding on a #[a(href='#resources') Resource].
          p When bidding ends on the #[a(href='#resources') Resource], Greg's bid is 12, Kathleen's bid is 12, Toby's bid is five, Libby's bid is four, Dave's bid is one, and Steve's bid is five.

          .figure
            table
              tr
                td
                  img(src='/images/credit/12.svg').card2
                td
                  img(src='/images/credit/12.svg').card2
                td
                  img(src='/images/credit/5.svg').card
              tr
                td 12 (Greg)
                td 12 (Kathleen)
                td Five (Toby)
              tr
                td
                  img(src='/images/credit/4.svg').card4
                td
                  img(src='/images/credit/1.svg').card
                td
                  img(src='/images/credit/5.svg').card
              tr
                td Four (Libby)
                td One (Dave)
                td Five (Steve)

          p Greg and Kathleen's bids are tied at 12, so neither can win.

          .figure
            table
              tr
                td
                  img(src='/images/credit/x/12.svg').card2
                td
                  img(src='/images/credit/x/12.svg').card2
                td
                  img(src='/images/credit/5.svg').card
              tr
                td 12 (Greg)
                td 12 (Kathleen)
                td Five (Toby)
              tr
                td
                  img(src='/images/credit/4.svg').card4
                td
                  img(src='/images/credit/1.svg').card
                td
                  img(src='/images/credit/5.svg').card
              tr
                td Four (Libby)
                td One (Dave)
                td Five (Steve)
          
          p Toby and Steve's bids are also tied, so neither of them can win.

          .figure
            table
              tr
                td
                  img(src='/images/credit/x/12.svg').card2
                td
                  img(src='/images/credit/x/12.svg').card2
                td
                  img(src='/images/credit/x/5.svg').card
              tr
                td 12 (Greg)
                td 12 (Kathleen)
                td Five (Toby)
              tr
                td
                  img(src='/images/credit/4.svg').card4
                td
                  img(src='/images/credit/1.svg').card
                td
                  img(src='/images/credit/x/5.svg').card
              tr
                td Four (Libby)
                td One (Dave)
                td Five (Steve)

          p Libby's bid is the highest bid that is not tied, so she is the winner.

          .figure
            table
              tr
                td
                  img(src='/images/credit/x/12.svg').card2
                td
                  img(src='/images/credit/x/12.svg').card2
                td
                  img(src='/images/credit/x/5.svg').card
              tr
                td 12 (Greg)
                td 12 (Kathleen)
                td Five (Toby)
              tr
                td
                  img(src='/images/credit/check/4.svg').card4
                td
                  img(src='/images/credit/x/1.svg').card
                td
                  img(src='/images/credit/x/5.svg').card
              tr
                td Four (Libby)
                td One (Dave)
                td Five (Steve)

          p Because Libby has the highest untied bid, she turns in her bid to the #[a(href='#commonwealth') Commonwealth] and takes the #[a(href='#resources') Resource] into her #[a(href='#faction') Faction].
        
        .tip 
          p Group Tip: The highest untied bidder is usually responsible for checking if any player wishes to raise or retract their bid.
          p The highest untied bidder will win the #[a(href='#resources') Resource] if bidding stops, so they are typically expected to call for bidding to end.
          p Any player can call for an end to bidding if they wish.

        .part 
          p When a player wins a #[a(href='#loan').loan Loan], they immediately take ten #[a(href='#credits').credit Credits] from the #[a(href='#commonwealth') Commonwealth].
          p Players still turn in their bid to the #[a(href='#commonwealth') Commonwealth] when they win a #[a(href='#loan').loan Loan].

        .tip
          p Strategy Tip: Loans can be very powerful.
          p Loans allow players to gain and use #[a(href='#credits').credit Credits] immediately.
          p The ten #[a(href='#credits').credit Credits] you received from winning a #[a(href='#loan').loan Loan] can be used during the same #[a(href='#buy') Buy phase] you purchased the #[a(href='#loan').loan Loan] in.
        
        .part 
          p When a #[a(href='#resources') Resource] has been won or removed, bidding begins on the next #[a(href='#resources') Resource].
          p As soon as bidding ends on a #[a(href='#resources') Resource], bidding begins on the next.

        .part 
          p When all six #[a(href='#resources') Resources] have been won or destroyed, the #[a(href='#buy') Buy] phase ends.

      .part 
        p After the #[a(href='#buy') Buy phase] ends, the #[a(href='#emperor') Emperor] gives the #[a(href='#resourcebag') Resource Bag] to the player on their left, who becomes the #[a(href='#emperor') Emperor] for the next round.
        p The next round begins immediately, starting with the #[a(href='#develop') Develop] phase.

      .tip
        p Play Tip: The first time you play Empire, you may want to try a quick practice round to a get a feel for each phase.
        p Most phases go quicker than you might expect, and you can try the bidding process on one or two #[a(href='#resources') Resources] during the #[a(href='#buy') Buy] phase.

  .section#exchange
    p Exchange

    .part
      p At any point during a round, players may exchange any of the items in their #[a(href='#faction') Faction] with other players at their own discretion.
      p Players may trade #[a(href='#resources') Resources], #[a(href='#credits').credit Credits], and #[a(href='#support').support Support] with each other whenever and however they wish.
   
      .tip 
        p Strategy Tip: Look for deals that benefit both players.
        p Players who trade often, win often. 

    .part
      p Players may make or break any agreements with each other about anything in the game.
      p All negotiation should be in good taste.
      P Players should keep all discussion and negotiation public so that all players can observe and participate.

      .tip
        p Strategy Tip: Be careful about breaking your word.
        p Empire players tend to pay careful attention to who can and cannot be trusted.

  .section#end
    p Ending the Game
  
    .part
      p If the #[a(href='#resourcebag') Resource Bag] is emptied during the #[a(href='#buy') Buy] phase before all six items have been drawn, the game immediately ends.

      .tip
        p Strategy Tip: The #[a(href='#resourcebag') Resource Bag] will run out during the sixth #[a(href='#buy') Buy] phase.
        p This means the sixth round will not finish before the game ends, and the last auction will not occur.
        p During the last #[a(href='#buy') Buy] phase, three random #[a(href='#resource') Resources] will be drawn form the #[a(href='#resourcebag') Resource Bag] onto the Commonwealth, but not bid on.

    .part
      p The player with the highest #[a(href='#netsupport') net #[span.support Support]] is the winner.
      p #[a(href='#netsupport') Net #[span.support Support]] is positive #[span.support Support] minus #[span.support Support].
      p If there is a tie, the tying player with the most #[a(href='#credits').credit Credits] is the winner.
      p If there is still a tie, all tying players share the victory.

      .tip 
        p Strategy Tip: Remember that the of goal of Empire is to inspire the most popular #[a(href='#support').support Support].
        p #[a(href='#credits').credit Credits] and #[a(href='#resources') Resources] will help you get #[a(href='#support').support Support], but they are merely a means to an end.

  script(src='/scripts/index.js')
