doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='https://code.jquery.com/ui/1.11.2/jquery-ui.min.js')
    script(src='https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    link(rel='stylesheet', href='/styles/app.css')
    link(rel='stylesheet', href='/styles/section.css')
    link(rel='stylesheet', href='/styles/example.css')
    link(rel='stylesheet', href='/styles/figure.css')
    link(rel='stylesheet', href='/styles/item.css')
    link(rel='stylesheet', href='/styles/tip.css')
    script(src='/scripts/jquery.fittext.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:300,400', type='text/css')
  body
    .content.clearfix
      block content
