a {
  color: #ddd;
  text-decoration: underline;
}

a:hover {
  color: #ddd;
}

body, html {
  height: 100%;
  width: 100%;
  text-align: justify;
}

body {
  background-color: #3c3c3c;
  color: #ddd;
  font-family: 'Ubuntu', sans-serif;
}

.content {
  clear: both;
  height: 100%;
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.heading {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 3%;
}

#headline {
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

#lead {
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
}

li {
  margin-top: 0.5%;
}

p {
  font-size: 1.1em; 
  margin-top: 1%;
}

.theme {
  margin-top: 2%;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 5em;
  margin-top: 5%;
}
