.example {
  display: table;
  margin-top: 2%;
  padding: 1%;
}

.example:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

.example p {
  font-size: 1.1em;
}
.example > p:first-child {
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  text-transform: none;
}
.example .subsection {
  margin-top: 0
}
