.bag {
  margin-bottom: 10px;
}

.board {
  max-height: 400px;
  max-width: 655px;
}

.card {
  font-size: 100px;
  height: 100px;
}

.card2 { height: 110px; }

.card3 { height: 120px; }

.card4 { height: 130px; }

.card5 { height: 140px; }

#cycle { height: 400px; }

.figure {
  display: table;
  margin-top: 1%;
}

.figure img {
  max-width: 100%;
}

.half { width: 50%; }

.minus { height: 10px; }

.number {
  line-height: 100px;
  font-size: 100px;
}

.resource { height: 75px; }

.resource2 { height: 85px; }

.resource3 { height: 95px; }

.resource4 { height: 105px; }

.resource5 { height: 115px; }

.sign { height: 35px; }

table {
  max-width: 100%;
  text-align: center;
}

table tr td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top:10px;
  vertical-align: middle;
}

table tr:first-child td { padding-top: 5px; }

table tr:last-child td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  vertical-align: top;
}

.times { height: 40px; }
