#end {
  margin-bottom: 5%;
}

.part {
  margin-top: 2%;
}

.part > p:first-child {
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
  text-transform: none;
}

.section {
  background-color: #323232;
  margin-top: 4%;
  padding: 1%;
}

.section:hover {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}  

.section .example {
  background-color: #282828;
}

.section .tip {
  background-color: #282828;
}

.section > p:first-child {
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  text-align: left;
}

.subsection {
  background-color: #282828;
  margin-top: 3%;
  padding: 1%;
}

.subsection:hover {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

.subsection .example {
  background-color: #1e1e1e;
}

.subsection .tip {
  background-color: #1e1e1e;
}

.subsection > p:first-child {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
}

.subsubsection {
  background-color: #1e1e1e;
  margin-top: 3%;
  padding: 1%;
}

.subsubsection:hover {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

.subsubsection .example {
  background-color: #191919;
}

.subsubsection .tip {
  background-color: #191919;
}

.subsubsection > p:first-child {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}
