.tip {
  display: table;
  margin-top: 2%; 
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1.1em;
}

.tip:hover {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

.tip p:first-child {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 3px;
}
